.skillCon {

}

.carouselList {
    height: 500px;
    width: 96%;
    margin: 0 auto;
    background: #f7f7f7;
}

.carouselItem {
    width: 100%;
    height: 500px;
    display: flex !important;
    flex-direction: row;
    padding: 0 10%;
}

.carouselItemTitle {
    flex: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px 0;
}

.carouselItemTitle > h3 {
    font-size: 30px;

}

.carouselItemTitle > p {
    font-size: 20px;

}

/*.carouselItemImg {*/
/*flex: 50% 0;*/
/*max-height: 500px;*/
/*overflow: hidden;*/
/*background: url("./img/design-2.png")no-repeat 100px 80px;*/
/*background-size: contain;*/
/*}*/
/*.carouselItemImg > img {*/
/*max-height: 60%;*/
/*}*/

.carouselItemDesign {
    flex: 50% 0;
    display: flex;
    height: 100%;
    flex-direction: row;
}

.Design_1 {
    flex: 200px 0;
    margin-top: 10px;
    height: 450px;
    background: url("./img/design-2.png") no-repeat 0 40px;
    background-size: 100%;
    margin-left: 20%;
    position: relative;
}

.Design_1 > img {
    position: absolute;
    left: 13%;
    top: 18%;
    max-width: 74%;
}

.Design_2 {
    flex: 200px 0;
    margin-top: 40px;
    height: 450px;
    background: url("./img/design-2.png") no-repeat 0 40px;
    background-size: contain;
    margin-left: 2%;
    position: relative;
}

.Design_2 > img {
    position: absolute;
    left: 13%;
    top: 18%;
    max-width: 74%;
}

.carouselItemTech {
    flex: 50% 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.carouselItemTechGif{
    height: 319px;
    flex: 491px 0;
    background: url("./img/websites.gif")no-repeat 0 0;
    border: 6px solid white;
    border-radius: 2px;
    box-shadow: 5px 7px 15px 0 rgba(0,0,0,0.1);

}

/*social*/
.carouselItemSocial{
    flex: 50% 0;
    display: flex;
    justify-content: center;
}
.carouselItemSocial_1{
    margin-top: 60px;
    position: relative;
    width: 447px;
    height: 293px;
    border: 6px solid white;
    border-radius: 2px;
    background: url("./img/film-yellow.gif")no-repeat 0 0;
    box-shadow: 5px 7px 15px 0 rgba(0,0,0,0.1);
}
.carouselItemSocial_2{
    position: absolute;
    right: 20px;
    bottom: -80px;
    width: 169px;
    height: 222px;
    border: 6px solid white;
    border-radius: 2px;
    background: url("./img/film-teal.gif")no-repeat 0 0;
    box-shadow: 5px 7px 15px 0 rgba(0,0,0,0.1);
}

.carouselItemHolistic{
    flex: 50% 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.carouselItemHolisticGif{
    height: 282px;
    flex: 449px 0;
    background: url("./img/holistic.gif")no-repeat 0 0;
    border: 6px solid white;
    border-radius: 2px;
    box-shadow: 5px 7px 15px 0 rgba(0,0,0,0.1);

}

/*-------------------------------------------------技术类内容区域*/
.textContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.textContentTitle {
    margin-top: 150px;
    font-size: 26px;
    line-height: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.textContentText {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.textContentTextItem {
    flex: 50% 0;
    padding: 50px 50px;
}

.textContentTextItem > h5 {
    font-size: 20px;
    color: #666666;
    margin-bottom: 20px;
}

.textContentTextItem > p {
    font-size: 16px;
    color: #888888;
    line-height: 20px;
    margin-bottom: 20px;
}

/*----------------------------------------相关工作*/
.relatedWork {
    width: 100%;
}

.relatedWorkTitle {
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.relatedWorkCon {
    display: flex;
    flex-wrap: wrap;
    background: #d5d5d5;
}

.relatedWorkConItem {
    flex: 50% 0;
    max-height: 300px;
    display: flex;
}

.relatedWorkConItemImg {
    flex: 50% 0;
    overflow: hidden;
}

.relatedWorkConItemImg > img {
    /*max-height: 100%;*/
    width: 100%;
}

.relatedWorkConItemLink {
    flex: 50% 0;
    display: flex;
    align-items: center;

}

.relatedWorkConItemLinkCon {
    width: 100%;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    padding: 10% 10%;
    justify-content: space-between;
}

.relatedWorkConItemLinkCon > span {
    text-align: right;
    line-height: 22px;
    color: #888888;
    font-size: 14px;
}

.relatedWorkConItemLinkCon > .relatedWorkConItemLinkConFlag {
    font-size: 20px;
}

/*-------------------------------------其他服务*/
.otherService {
    width: 96%;
    margin: 0 auto;
}

.otherServiceTitle {
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.otherServiceCon {
    width: 100%;
}

.otherServiceConItem {
    width: 100%;
    background: #f6f6f6;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.otherServiceConItemImg {
    flex: 50% 0;
    padding-right: 5%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.otherServiceConItemImg > img {
    /*max-width: 40%;*/
    max-height: 80%;
}

.otherServiceConItemText {
    flex: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20%;
}

.otherServiceConItemText > h5 {
    font-size: 24px;
    margin-bottom: 30px;
}

.otherServiceConItemText > p {
    font-size: 16px;
    color: #888888;
    line-height: 22px;
}

/*----------------------------------------团队链接*/
.teamLink {
    width: 100%;
    background: url("./img/skill-bottom.png") no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamLinkCon {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 10% 30%;
}

.teamLinkCon > h3 {
    font-size: 30px;
}

.teamLinkCon > p {
    font-size: 18px;
    margin-top: 60px;
    line-height: 24px;
}

.teamLinkCon > a {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #666666;
    margin-top: 40px;
}