/*----------------------------------------------------*/
/*整体内容区域*/

.caseContent {
    width: 100%;

}

/*-------------------------------------------------------*/
/*重新宽度设置内容区域*/

.caseConSetWidth {
    width: 85%;
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

/*-------------------------------------------------------*/
/*首例案例信息区域*/
.FirstCase {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.FirstCaseLeft {
    flex: 50% 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 4%;
    padding-top: 16%;
    /*justify-content: space-between;*/
}

.FirstCaseLeft > span {
    font-size: 16px;
}

.FirstCaseLeft > h3 {
    margin-top: 20px;
    font-size: 50px;
}

.FirstCaseLeft > h5 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 40px;
}

/*flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]*/
.FirstCaseLeft > p {
    margin-top: 30px;
    width: 160px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid deepskyblue;
}

.FirstCaseRight {
    flex: 45% 0;
    background: url("./img/apple.jpg") no-repeat;
    background-size: cover;
}

/*------------------------------------------------------------*/
/*这是合作品牌信息*/

.Cooperation {
    margin-top: -90px;
    width: 85%;
    margin-left: 8%;
    height: 180px;
    background: rgba(247, 247, 247, 0.95);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 3px 20px 5px rgba(247, 247, 247, 0.3);
}

.Cooperation > div {
    flex: 20%;
    text-align: center;
    color: #666666;
}

/*----------------------------------------------------------*/
/*这是案例列表信息区域*/
.caseList {
    display: flex;
    flex-direction: column;
}

.caseListTitle {
    margin-top: 100px;
    display: flex;
    padding: 0 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caseListTitle > h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.caseListTitle > p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 60px;
}

.tabsCon {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

.caseListCon {
    min-height: 500px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.caseListConItem{
    flex: 50% 0;
    height: 300px;
    display: flex;
    /*border: 1px solid rgba(0, 191, 255, 0.1);*/
}
.caseListConItemImg{
    flex: 50% 0;
    overflow: hidden;
}
.caseListConItemImg>img{
    max-width: 100%;

}
.caseListConItemText{
    flex: 50% 0;
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}
.caseListConItemTextSetBg{
    flex: 1;
    background:#f7f7f7;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
}
.caseListConItemTextSetBg>h5{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: right;
}
.caseListConItemTextSetBg>span{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: right;
}
.caseListConItemTextSetBg>p{
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 18px;
    text-align: right;
}

/*-----------------------------------------------------------*/
/*详细案例1信息区域*/

.detailedCase {
    /*width: 100%;*/
    height: 500px;
    /*background: deepskyblue;*/
    display: flex;
    margin-left: 10%;
    width: 90%;
    margin-bottom: 60px;
}

.detailedCaseLeft {
    flex: 50% 0;
    height: 100%;
    /*background: darkseagreen;*/
    display: flex;
    flex-direction: column;
    padding: 10% 10% 10% 0;

}

.detailedCaseLeft > h3 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 30px;

}

.detailedCaseLeft > .detailedCaseLeftSubtitle {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 20px;

}

.detailedCaseLeft > .detailedCaseLeftText {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 20px;

}

.detailedCaseLeft > span {
    padding: 10px 20px;
    width: 200px;
    height: 40px;
    text-align: center;
    border: 1px solid #7e8c8d;
    border-radius: 2px;
}

.detailedCaseRight {
    flex: 50% 0;
    height: 100%;
    overflow: hidden;
}

.detailedCaseRight > img {
    width: 100%;
    /*height: 100%;*/
}

/*-----------------------------------------------------------*/
/*工作过程信息区域*/
.workProcess {
    height: 500px;
    /*background: deepskyblue;*/
    display: flex;
    margin-right: 10%;
    width: 90%;
    margin-bottom: 60px;
}

.workProcessLeft {
    flex: 50%;
    height: 100%;
    overflow: hidden;
}

.workProcessLeft > img {
    width: 100%;
    /*height: 100%;*/
}

.workProcessRight {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 10% 0 10% 10%;
    /*text-align: right;*/
    /*justify-items: right;*/
}

.workProcessRight > h3 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 30px;
}

.workProcessRight > p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
}

.workProcessRight > span {
    padding: 10px 20px;
    width: 200px;
    height: 40px;
    text-align: center;
    border: 1px solid #7e8c8d;
    border-radius: 2px;
}

/*-----------------------------------------------*/
/*搜索区域*/
.searchCon {
    display: flex;
    justify-items: center;
    padding-bottom: 60px;

}

.searchConSetWidth {
    flex: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchConSetWidth > p {
    /*margin-top: 30px;*/
    margin-bottom: 26px;
    font-size: 14px;
}

.searchConSetWidth > .search {
    display: flex;
    align-items: center;
}

.searchConSetWidth > .search > .input {
    width: 300px;
    border-radius: 0;
}

.searchConSetWidth > .search > .button {
    border-radius: 0;
}