.page {

}

.banner {
    width: 100%;
    height: 600px;
    padding: 1%;
}

.bannerSet {
    width: 100%;
    height: 100%;
    background: #d55d59;
    display: flex;

}

.bannerLeft{
    flex: 70% 0;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: center;
}
.bannerLeft > span {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.bannerLeft > p {
    color: white;
    font-size: 18px;
    line-height: 26px;
}
.bannerRight{
    flex: 30% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------文章*/
.article{
    width: 100%;
    padding: 60px 15%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.articleItem{
    flex: 48% 0;

    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 1px solid #f7f7f7;
    padding: 20px;
}
.articleItemImg{
    flex: 350px;
    overflow: hidden;
}
.articleItemImg>img{
    width: 100%;
}
.articleItemText{
    display: flex;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 40px;
    justify-content: flex-end;
}
.articleItemText>p{
    flex: 90% 0;
    padding-right: 20px;
    text-align: right;
}
.articleItemAvatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.articleItemAvatarName{
    padding-right: 20px;
}
.articleItemAvatarImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.articleItemAvatarImg>img{
    height: 100%;
}

/*-----------------------------------加载更多*/
.loadMore{
    width: 100%;
    min-height: 10px;
    /*padding-top: 30px;*/
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loadMore>span{
    margin-top: 4px;
    font-size: 10px;
}
