.slider{

}
.sliderItem{
    min-height: 1px;
    max-height: 566px;
}
.sliderItem>img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.ant-carousel .slick-slide {
    text-align: center;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}
