@import "./common/css/reset.css";

.page {

}

/*----------------------------------------------------------------------------*/
/*顶部*/

.header {
    width: 100%;
    height: 60px;
    /*height: 500px;*/
    /*background-image: url("./common/images/head_bg.jpg");*/
    font-size: 14px;
    font-family: "PingFang SC";
    background: rgba(126,140,141,1);
    /*background-size: cover;*/
}

.component {
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
}

.senlins {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.senlinsLink{
    height: 40px;
}
.senlinsLink>img{
    max-height: 100%;
}

.menu {
    display: flex;
    line-height: 60px;
    font-size: 14px;
    border: 0;
    background-color: transparent;
}

.menuitem {
    flex: 33.3%;
    text-align: center;
}

.menuitem > a {
    color: white !important;
}

.flagSpan svg {
    color: white;
}

.flagSpan a {
    color: white;
}


/*=============================================================*/
/*底部*/

.footer {
    width: 100%;
    /*height: 300px;*/
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.FooterSetWidth {
    margin-left: 5%;
    /*background: deepskyblue;*/
    width: 90%;
    margin-right: 5%;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.FooterItem {
    /*display: flex;*/
    /*flex-direction: column;*/
    padding: 5% 0;
    /*box-sizing: border-box;*/
}

.FooterItemTitle {
    font-size: 20px;
    color: #666666;
    height: 40px;
}
.FooterItem>div{
    height: 30px;
}
.FooterItemFlag{
    display: flex;
    height: 100%;
    flex: 30% 0;
    flex-direction: column;
    padding: 5% 0;
    box-sizing: border-box;
}
.FooterFlagTitle{
    font-size: 20px;
    color: #666666;
    flex: 20% 0;
}

.FooterItemFlag>span{
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.FooterItemFlagCon{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}


.FooterItemFlagCon>div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 5px;
    text-align: center;
    line-height: 30px;
    background: #F7EDF7;
}


.senlinCat{
    flex: 40px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    width: 85%;
    text-align: center;
    border-top: 1px solid #F7EDF7;
}
